* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

section, header {
    margin: 5rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

section div, header div {
    width: 2rem;
    height: 2rem;
    border: 1px black solid;
}

section div:hover {
    background-color: purple;
}

