* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

main {
    margin: 2rem 15rem;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    flex-basis: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header div {
    width: 4rem;
    height: 4rem;
    border: 1px black solid;
}

#frame {
    border: 1px black solid;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#purple {
    background-color: purple;
}

section div {
    width: 2.5rem;
    height: 2.5rem;
    /*border: 1px white solid;*/
    background: lightblue;
}

section div:hover {
    background-color: blue;
}

